In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('productionOfVehicles.csv')

In [3]:
df = df.loc[df['Indicators']=='Production of Passenger Cars (PV)'].sort_values('Year')

In [4]:
pct_change = df['Value'].pct_change()*100

In [5]:
df = pd.concat([df,pct_change], axis=1)

In [6]:
df.columns.values[3] = "Percentage Change"

In [7]:
df = df.round(1)

In [9]:
df.dropna()

     Year      Value  Percentage Change
228  2002   557410.0               11.4
48   2003   782562.0               40.4
229  2004   960487.0               22.7
49   2005  1046133.0                8.9
115  2006  1238032.0               18.3
0    2007  1426212.0               15.2
171  2008  1516967.0                6.4
50   2009  1932620.0               27.4
51   2010  2453113.0               26.9
230  2011  2775124.0               13.1
231  2012  2668633.0               -3.8
52   2013  2519281.0               -5.6
53   2014  2595123.0                3.0
1    2015  2747236.0                5.9
2    2016  2884790.0                5.0