In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('automakers_by_employees.csv')

In [3]:
# df['earnings_ttm'] = df['earnings_ttm']/1000000000
# df = df.iloc[0:5, [1,3]]
# df.round()

In [9]:
df = df.iloc[0:10, [1,3]]

In [5]:
# df['revenue_ttm'] = df['revenue_ttm']/1000000000
# df = df.iloc[0:5, [1,3]]
# df.round()

In [10]:
# df['marketcap'] = df['marketcap']/1000000000
# df = df.iloc[0:5, [1,3]]
# df.round()
df

                    Name  employees_count
0             Volkswagen           645318
1                 Toyota           366283
2  Mahindra and Mahindra           260000
3                    BYD           224280
4                  Honda           211374
5             SAIC Motor           204815
6             Stellantis           204000
7                   Ford           183000
8          Mercedes-Benz           173000
9                Renault           170158